.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-4);
}

.header__title {
    color: var(--color-primary);
}

.title__section {
    margin-bottom: 0;
    font-weight: var(--fw-bold);
    font-size: var(--fz-2xl);
}

.header__user {
    color: var(--color-text-secondary);
    font-weight: var(--fw-semi-bold);
}

.user__data {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.user__text {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.user__name {
    color: var(--color-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fz-2xl);
}