.card {
    background: var(--color-primary-soft);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    padding: var(--space-3);
    display: flex;
    flex-direction: column;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.card__heading {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    font-weight: var(--fw-bold);
}

.card__text {
    color: var(--color-text-secondary);
}

.card__summary {
    font-size: var(--fz-3xl);
}

.card__appointment {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    max-height: 150px;
    overflow-y: auto;
}

.card__appointment::-webkit-scrollbar {
    display: none;
}

.card__information {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    margin: var(--space-2) 0;
    border: 2px solid var(--color-text-inverse);
    border-radius: var(--radius-sm);
    padding: var(--space-3);
}

.card__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__data--empty {
    justify-content: center;
}

.card__username,
.card__message {
    font-size: var(--fz-3xl);
    font-weight: var(--fw-bold);
}

.card__date-information {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card__buttons {
    display: flex;
    gap: var(--space-1);
}

@media screen and (min-width: 768px) {
    .card__content {
        height: 100%;
    }

    .card__information--empty {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card__appointment {
        flex: 1;
        max-height: 370px;
    }
}

@media screen and (min-width: 1200px) {
    .card__appointment {
        max-height: 480px;
    }
}